{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
        <h1>Edit user</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">

        <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200"  src="{{ user.image.url }}">
            </div>
    {#        <img class="rounded-circle p-1 m-1" width="300" height="{{ user.profile.image.height }}"  src="{{ user.profile.image.url }}">#}
    {#        <img class="img-circle p-1 m-1"  src="{{ user.profile.image.url }}">#}
            <div class="media-body  p-3 m-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <h3 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        {% csrf_token %}

        {{form|crispy}}
{#        <div class = 'mb-3'>#}
{#            Raw passwords are not stored, you can change the password <a href="{% url 'accounts:password' %}">this form</a>#}
{#        </div>#}
{#        {{profile_form|crispy}}#}

{#        <table class="table table-hover p-1 m-3 mb-5">#}
{#            <thead class="thead-dark">#}
{#                <tr>#}
{#                  <th>#</th>#}
{#                  <th>Name</th>#}
{#                  <th>Date</th>#}
{#                  <th>Time spent</th>#}
{#                  <th>Points</th>#}
{#                </tr>#}
{#            </thead>#}
{##}
{#            {% for result in object_list %}#}
{##}
{#                <tr>#}
{#                   <td>{{ forloop.counter}}</td>#}
{#                   <td>{{ result.user.username }}</td>#}
{#                   <td>{{ result.write_date }}</td>#}
{#                   <td>{{ result.time_spent }}</td>#}
{#                   <td>{{ result.points }}</td>#}
{#                </tr>#}
{##}
{#            {% endfor %}#}
{#        </table>#}
{##}
{#        <div class="p-1 m-1">#}
{#            {% include 'includes/pagination.html' %}#}
{#        </div>#}

        <input class="btn btn-success" type="submit" value="Save">
        <a class="btn btn-light" href="{% url 'index' %}">Cancel</a>
    </form>
{% endblock %}