version: '3'

services:

  backend:
    build: ./
#    image: dbradul/quiz
    container_name: quiz_container
    restart: always
    command: ./commands/start_server.sh
    ports:
      - "${PORT}:${WSGI_PORT}"
    volumes:
      - ./src:/srv/project/src
      - ./commands:/srv/project/commands
      - static_content:/var/www/quiz
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:12
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - .env

  nginx:
    image: nginx:1.19
    command: /etc/nginx/start_nginx.sh
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./commands/start_nginx.sh:/etc/nginx/start_nginx.sh
      - static_content:/var/www/quiz
    ports:
      - 80:80
      - 443:443
    env_file:
      - .env
    depends_on:
      - backend

volumes:
  pg_data: {}
  static_content: {}
