server {
    listen 80 default_server;

    server_name quiz;


    location /static/ {
        root /var/www/quiz;
    }

    location /media/ {
        root /var/www/quiz;
    }

    location / {
        include /etc/nginx/conf.d/proxy_params;
        proxy_pass http://backend:${WSGI_PORT};
    }
}